html, body, div, span, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,abbr, address, cite, code,del, dfn, em, img, ins, kbd, q, samp,small, strong, sub, sup, var,b, i,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, figcaption, figure,footer, header, hgroup, menu, nav, section, summary,time, mark, audio, video {    margin:0;    padding:0;    border:0;    outline:0;    font-size:100%;    vertical-align:baseline;    background:transparent;}body {    line-height:1;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {    display:block;}nav ul {    list-style:none;}blockquote, q {    quotes:none;}blockquote:before, blockquote:after,q:before, q:after {    content:'';    content:none;}a {    margin:0;    padding:0;    font-size:100%;    vertical-align:baseline;    background:transparent;}/* change colours to suit your needs */ins {    background-color:#ff9;    color:#000;    text-decoration:none;}/* change colours to suit your needs */mark {    background-color:#ff9;    color:#000;    font-style:italic;    font-weight:bold;}del {    text-decoration: line-through;}abbr[title], dfn[title] {    border-bottom:1px dotted;    cursor:help;}table {    border-collapse:collapse;    border-spacing:0;}/* change border colour to suit your needs */hr {    display:block;    height:1px;    border:0;    border-top:1px solid #cccccc;    margin:1em 0;    padding:0;}input, select {    vertical-align:middle;}

@font-face {
  font-family: 'Poiret-One';
  src: url('../fonts/poiretone-regular-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/poiretone-regular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/poiretone-regular-webfont.woff') format('woff'), /* Modern Browsers */
       url('../fonts/PoiretOne-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/poiretone-regular-webfont.svg') format('svg'); /* Legacy iOS */
}

body{
	font-family: 'Poiret-One', Fallback, sans-serif;
	color: #fff;
	overflow: hidden;
    min-height: 470px;
}

body *{
-webkit-user-select: none;
  -moz-user-select: none;    
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

a{
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6{
	text-align: center;
	color: #fff;
	text-shadow: none;
	border: none;
}

h1{
font-size: 4em;
}

h2{
font-size: 3em;
}

h3{
font-size: 2em;
}

h4{
font-size: 1.5em;
}

.homeTop{
	width: 150px;
	height: 150px;
	background: url('../assets/home.png') no-repeat center center transparent;
	background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	position: absolute;
	top: 10px;
	right: 10px;
}

.homeTop a{
	width: 100%;
	height: 100%;
	float: left;
	text-decoration: none;
	cursor: pointer;
	position: relative;
	z-index: 1;
 }

.logoTop{
	width: 150px;
	height: 150px;
	background: url('../assets/logo.png') no-repeat center center transparent;
	background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	position: absolute;
	top: 10px;
	left: 10px;
	animation: rotating 3s linear infinite;
	-webkit-animation: rotating 3s linear infinite;
	-moz-animation: rotating 3s linear infinite;
}

@-webkit-keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}

.wrapper{
	width: 1024px;
	height: 100%;
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	background: url('../assets/bg.png') no-repeat center center transparent;
	background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
}

.preLoader{
	width: 100%;
	height: 100%;
	position: relative;
}

#divContainer{
	display: block;
}

.container, .welcomeBox{
	width: 100%;
	float: left;
	position: relative;
	height: 100%;
}

.cap{
	text-transform: uppercase !important;
}

.headingArea{
	float: left;
	width: 100%;
	height: 50%;
	position: relative;
}

.pageHead{
	float: left;
	width: 100%;
}

p{
	font-size: 1.8em;
	line-height: 1.3em;
	text-align: justify;
}

.ques, ol.points{
	float: left;
	width: 100%;
	padding: 0 20px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

ol.points li{
	font-size: 2em;
	margin-left: 20px;
	line-height: 1.3em;
}

.ques h3{
	text-align: left;
	line-height: 2em;
}
.questionHeadingArea{
	float: left;
	width: 100%;
	height: 12%;
	position: relative;
	clear: both;
}

.headingArea h1{
	position: absolute;
	top: 10%;
	width: 100%;
	line-height: 1.2em;
	text-transform: capitalize;
	padding: 0 20px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.pageHead h1{
	line-height: 2.8em;
}

.headingArea blockquote{
	position: absolute;
	bottom: 9%;
	width: 100%;
	line-height: 1.3em;
	font-size: 2.4em;
	text-transform: capitalize;
	font-style: italic;
	text-align: center;
	font-weight: bold;
	
}

blockquote:before, blockquote:after{
	height: 0;
	content: "\201C";
	font: italic 150%/1 Cochin,Georgia,"Times New Roman", serif;
	color: #999;
}

blockquote:after{
	content : "\201D"
}

.questionHeadingArea h2{
	position: absolute;
	top: 60%;
	width: 100%;
}
.activeQuesHint{
	width: 100%;
	position: relative;
	float: left;
	margin: 4% 0;
}
.activeQuesHint ul{
	width: 100%;
	text-align: center;
}

.activeQuesHint ul li {
background: #8c7f80;
  background-image: -webkit-linear-gradient(top, #8c7f80, #706c6c);
  background-image: -moz-linear-gradient(top, #8c7f80, #706c6c);
  background-image: -ms-linear-gradient(top, #8c7f80, #706c6c);
  background-image: -o-linear-gradient(top, #8c7f80, #706c6c);
  background-image: linear-gradient(to bottom, #8c7f80, #706c6c);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: ;
  font-size: 0px;
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  display: inline-block;
	margin: 0 5px;
	-webkit-box-shadow: inset -2px 2px 6px #000;
  -moz-box-shadow: inset -2px 2px 6px #000;
  box-shadow: inset -2px 2px 6px #000;
}

.activeQuesHint ul li.active {
  background: #00ff00;
  background-image: -webkit-linear-gradient(top, #00ff00, #24bf2e);
  background-image: -moz-linear-gradient(top, #00ff00, #24bf2e);
  background-image: -ms-linear-gradient(top, #00ff00, #24bf2e);
  background-image: -o-linear-gradient(top, #00ff00, #24bf2e);
  background-image: linear-gradient(to bottom, #00ff00, #24bf2e);
}

.logo{
    width:300px;
	height: 300px;
    position: absolute;
    -webkit-animation: movelogo 5s 1; /* Chrome, Safari, Opera */ 
    -moz-animation: movelogo 5s 1; /* Chrome, Safari, Opera */ 
    animation: movelogo 5s 1;
	top: 50%;
	left: 50%;
	margin-top:-150px;
	margin-left:-150px
}

/* Chrome, Safari, Opera */ 
@-webkit-keyframes movelogo {
    0%   { width:0; height:0; opacity:0.1;margin-top:0px;margin-left:0px}
    25%  {width:300px; height:300px;margin-top:-150px;margin-left:-150px}
    75%  {width:300px; height:300px;-webkit-transform: rotate(0deg);margin-top:-150px;margin-left:-150px}
    100% {width:300px; height:300px;-webkit-transform: rotate(360deg);opacity:1;margin-top:-150px;margin-left:-150px}
}

@-moz-keyframes movelogo {
    0%   { width:0; height:0; opacity:0.1;margin-top:0px;margin-left:0px}
    25%  {width:300px; height:300px;margin-top:-150px;margin-left:-150px}
    75%  {width:300px; height:300px;-moz-transform: rotate(0deg);margin-top:-150px;margin-left:-150px}
    100% {width:300px; height:300px;-moz-transform: rotate(360deg);opacity:1;margin-top:-150px;margin-left:-150px}
}

/* Standard syntax */
@keyframes movelogo {
     0%   { width:0; height:0; opacity:0.1;margin-top:0px;margin-left:0px}
    25%  {width:300px; height:300px;margin-top:-150px;margin-left:-150px}
    75%  {width:300px; height:300px;transform: rotate(0deg);margin-top:-150px;margin-left:-150px}
    100% {width:300px; height:300px;transform: rotate(360deg);opacity:1;margin-top:-150px;margin-left:-150px}
}
.buttonArea{
	text-align: center;
	position: relative;
	float: left;
	width: 100%;
	padding-top: 2%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.button {
    display: inline-block;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow:    0 8px 0 #7F0003, 0 15px 20px rgba(0, 0, 0, .35);
    -moz-box-shadow: 0 8px 0 #7F0003, 0 15px 20px rgba(0, 0, 0, .35);
    box-shadow: 0 8px 0 #7F0003, 0 15px 20px rgba(0, 0, 0, .35);
    -webkit-transition: -webkit-box-shadow .1s ease-in-out;
    -moz-transition: -moz-box-shadow .1s ease-in-out;
    -o-transition: -o-box-shadow .1s ease-in-out;
    transition: box-shadow .1s ease-in-out;
    font-size: 50px;
    color: #fff;
	margin: 4% 0;
	-webkit-appearance: none;
}

.button span {
	min-width: 250px;
    display: inline-block;
    padding: 20px 30px;
	color: #fff;
    background-color: #FF4C4C;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(hsla(0, 100%, 65%, 0.8)), to(hsla(338, 90%, 70%, .2)));
    background-image: -webkit-linear-gradient(hsla(0, 100%, 65%, 0.8), hsla(338, 90%, 70%, .2));
    background-image: -moz-linear-gradient(hsla(0, 100%, 65%, 0.8), hsla(338, 90%, 70%, .2));
    background-image: -o-linear-gradient(hsla(0, 100%, 65%, 0.8), hsla(338, 90%, 70%, .2));
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
	font-weight: bold;
    -webkit-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);
    -moz-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);
    line-height: 1;
    text-shadow: 0 -1px 1px rgba(175, 49, 95, .7);
    -webkit-transition: background-color .2s ease-in-out, -webkit-transform .1s ease-in-out;
    -moz-transition: background-color .2s ease-in-out, -moz-transform .1s ease-in-out;
    -o-transition: background-color .2s ease-in-out, -o-transform .1s ease-in-out;
    transition: background-color .2s ease-in-out, transform .1s ease-in-out;
	-webkit-appearance: none;
}

.button:hover span {
    background-color: #FF1213;
    text-shadow: 0 -1px 1px rgba(175, 49, 95, .9), 0 0 5px rgba(255, 255, 255, .8);
}

.button:active, .button:focus {
    -webkit-box-shadow:    0 8px 0 #7F0003, 0 12px 10px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 8px 0 #7F0003, 0 12px 10px rgba(0, 0, 0, .3);
    box-shadow:    0 8px 0 #7F0003, 0 12px 10px rgba(0, 0, 0, .3);
}

.button:active span {
    -webkit-transform: translate(0, 4px);
    -moz-transform: translate(0, 4px);
    -o-transform: translate(0, 4px);
    transform: translate(0, 4px);
}


.checkRadio{
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	padding: 18px 10px;
	background: rgba(0,0,0,.5);
	font-size: 35px;
	color: #fff;
	display: inline-block;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	-webkit-box-shadow: inset -2px 2px 6px #000;
	  -moz-box-shadow: inset -2px 2px 6px #000;
	  box-shadow: inset -2px 2px 6px #000;
	  width: 50px;
	  -webkit-appearance: none;
}

.checkRadio:hover{
	color: #000 !important;
	background: #fff;
	font-weight: bolder;
	transition: .5s;
	-webkit-transition: .5s;
	-moz-transition: .5s;
}

.pressed{
	color: #000 !important;
	background: #fff;	
	font-weight: bolder;
	transition: .5s;
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-webkit-appearance: none;
}

.questionBox{
	width: 100%;
	float: left;
	position: relative;
	max-height: 55%;
	overflow-y: auto;
	overflow-x: hidden;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 0;
}

.moveNext, .moveBack{
	float: left;
	width: 120px;
	height: 52px;
	background: rgba(0,0,0,0.8);
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto 0;
	cursor: pointer;
	overflow: hidden;
}

.moveBack{
	left: 0; 
	background: url(../assets/back_inactive.png) no-repeat center center transparent;
	background-size: 50% 100%;
	-webkit-background-size: 50% 100%;
	-moz-background-size: 50% 100%;
}

.moveNext{
	right: 0; 
	background: url(../assets/next_inactive.png) no-repeat center center transparent;
	background-size: 50% 100%;
	-webkit-background-size: 50% 100%;
	-moz-background-size: 50% 100%;
}

.moveNextActive{
	background: url(../assets/next.png) no-repeat center center transparent !important;
	background-size: 50% 100% !important;
	-webkit-background-size: 50% 100% !important;
	-moz-background-size: 50% 100% !important;
}

.question{
	float: left;
	width: 100%;
	padding: 1% 120px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.question h3{
	line-height: 1.4em;
}

.radioButtonArea{
	width:100%;
	text-align: center;
	float: left;
	max-height: 14%;
	padding: 2.5% 0;
}

.radioButtonArea .button{
	margin: 0;
}

.radioButtonArea .button span{
	min-width: 150px;
	padding: 15px 22px;
	color: #fff;
}

.wrapWrapper{
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.90);
	overflow: hidden;
    display: none;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
}

.ansHint{
	width: 500px;
	height: 450px;
	left: 50%;
	top: -50%;
	margin-top: -225px;
	margin-left: -250px;
	position: absolute;
	color: #fff;
	display: none;
}

.showAnsHint{
	top: 50%;
	display: block;
}

.selectHint{
		margin-left: 135px;
		width: 200px;
		animation: moveCartoon 2s;
		
		-moz-animation: moveCartoon 4s; 
		-webkit-animation: moveCartoon 4s;
		-webkit-animation-fill-mode: forwards; /* Chrome, Safari, Opera */
    animation-fill-mode: forwards;
}

.submitHint{
	margin-left: 0;
	width: 200px;
	/* left: 0; */
	float: left;
}

.stage{
	width: 100%;
	float: left;
	margin: 20px 0;
	text-align: center;
	transform: translate(-50%,0%);
	-webkit-transform: translate(-50%,0%);
	-moz-transform: translate(-50%,0%);
	margin-left: 60%;
}

.stage span{
	width: 20%;
	display: inline-block;
	margin: 0;
	padding: 15px 0;
	float: left;
	vertical-align: middle;
	position: relative;
	word-break: break-all;
	-webkit-box-shadow: inset -2px 2px 4px #000;
	  -moz-box-shadow: inset -2px 2px 4px #000;
	  box-shadow: inset -2px 2px 4px #000;
	  -webkit-transform: scale(1.25);
	-ms-transform: scale(1.25);
	transform: scale(1.25);
}

.green{
	background: #008000;
	z-index: 2;
}

.sky{
	background: #21AAD8;
	z-index: 2;
}

.orange{
	background: #E77817;
	z-index: 2;
}

.red{
	background: #ff0000;
	z-index: 2;
}

.opaque{
	background: rgba(0,0,0,.5) !important;
	z-index:1 !important;
	  -webkit-transform: scale(1) !important;
	-ms-transform: scale(1) !important;
	transform: scale(1) !important;
}
	
	
     @-moz-keyframes moveCartoon
    {
		0%   {margin-left:135px;}
		100%   {margin-left:70%;}
    }

        @-webkit-keyframes moveCartoon
    {
		0%   {margin-left:135px;}
		100%   {margin-left:70%;}
    }

.flt_cntr{
	width: 100%;
	float: left;
	text-align: center;
}

.flt_cntr_wdth{
	width: 255px;
	float: left;
	text-align: center;
}

.hide{
	display: none;
}

.show{
	display: block;
}

.bind100{
	float: left;
	width: 100%;
}

.bind100 img{
		width: 180px;
	}
.center{
	text-align: center;
	margin: auto;
}

.fnt25{
	font-size: 25px;
}

.min125{
	min-width: 125px !important;
}

.about{
float: left;
width: 100%;
padding: 22px 20px 10px 20px;
box-sizing: border-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
}

.about h4{
	line-height: 1.3em;
}

.grey{
	color: #ccc;
}

.orng{
	color: #E77817;
}

.cyan{
	color: #21AAD8;
}

.headText{
		color: #E77817;
		font-size: .6em;
	}
	
.mrgn5{
	margin: 5px 0;
}

.mrgn20{
	margin: 20px 0 !important; 
}

.mrgn_neg30{
	margin-left:-30px;
}

.resultArea h3{
	line-height: 3.8em;
	font-size: 3em;
}

.mrgBtm10{
	margin-bottom: 10px !important;
}

.wrapOver{
	overflow-x: hidden;
	overflow-y: auto;
}

.mrgn_rght20{
	margin-right: 20px;
}

#imgModerate{
		width: 300px;
		height: 250px;
	}
#imgMild{
	width: 250px;
}
	
	.followSteps{
		width: 100%;
		float: left;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	
	ul.imgArea{
		float: left;
		width: 25%;
		position: relative;
		padding: 0 20px;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
	}
	
	ul.imgArea li{
	list-style: none;
		float: left;
		width: 100%;
		background: rgba(0,0,0,0.5);
		-webkit-box-shadow: inset 0px 0px 55px 0px rgba(0,0,0,.9);
		-moz-box-shadow:    inset 0px 0px 55px 0px rgba(0,0,0,.9);
		box-shadow:         inset 0px 0px 55px 0px rgba(0,0,0,.9);
	}
	
	ul.imgArea li img{
		width: 92%;
		margin: 3%;
	}
	
	.describe{
		float: left;
		width: 100%;
		margin-top: 15px;
	}
	
	.cureSteps{
		float: left;
		width: 70%;
		margin-left: 50px;
	}
	
	.cureSteps li{
		font-size: 1.5em;
		line-height: 1.3em;
		list-style: lower-latin;
	}
	
	li a{
		color: #21AAD8;
	}
	
	.spc_top30{
		margin-top: 30px;
	}
	
	.spc_top20{
		margin-top: 20px;
	}

@media only screen
and (max-width : 767px) {
	.wrapper{
		width: 100%;
	}
	
	h1 {
		font-size: 2.6em;
	}
	
	.headingArea h1{
		top: 11%;
	}
	
	.logoTop {
		width: 100px;
		height: 100px;
	}
	
	.homeTop{
		width: 100px;
		height: 100px;
	}

	.buttonArea {
		padding-top: 2%;
	}
	.headingArea {
		height: 40%;
	}
	
	.headingArea blockquote{
		bottom: 0;
		font-size: 1.8em;
	}
	
	.headText {
		font-size: 0.5em;
	}
	
	.button span {
		min-width: 150px;
		padding: 13px 30px;
	}
	
	.resultArea h3 {
		line-height: 2.6em;
		font-size: 2.8em;
	}
	
	.stage h4{
		font-size: 1.5em;
	}
	
	.bind100 img{
		width: 160px;
	}
	
	.question h3{
		font-size: 1.8em;
		font-weight: normal;
	}
	
	.ques h3{
		line-height: 1.3em;
		font-size: 1.7em;
	}
	
	ol.points li {
		font-size: 1.6em;
	}
	
	ul.imgArea{
		width: 35%;
	}
	
	.cureSteps{
		width: 53%;
	}
	
	.cureSteps li{
		font-size: 1.3em;
	}
	
	.stage span{
		width: 80%;
		-webkit-transform: scale(1); 
		-ms-transform: scale(1);
		 transform: scale(1); 
	}
	
	.opaque{
		display: none !important;
	}
}


@media only screen
and (min-width : 320px)
and (max-width : 480px) {

	h1 {
		font-size: 1.7em;
	}
	
	h2{
		font-size: 1.7em;
	}
	
	h3 {
		font-size: 1.5em;
	}
	
	h4 {
		font-size: 1.2em;
	}
	
	.logo{
		width:200px;
		height: 200px;
		margin-top:-100px;
		margin-left:-100px
	}
	
	p {
		font-size: 1.2em;
		line-height: 1em;
	}
	
	.questionHeadingArea h2{
		top: 26%;
	}
	
	.ques h3{
		line-height: 1.2em;
	}
	
	.question h3{
		font-size: 1.4em;
		line-height: 1.3em;
		font-weight: normal;
	}
	
	.headingArea blockquote{
		font-size: 1.4em;
	}
	
	.pageHead h1{
		line-height: 2.4em;
	}
	
	/* Chrome, Safari, Opera */ 
@-webkit-keyframes movelogo {
    0%   { width:0; height:0; opacity:0.1;margin-top:0px;margin-left:0px}
    25%  {width:200px; height:200px;margin-top:-100px;margin-left:-100px}
    75%  {width:200px; height:200px;-webkit-transform: rotate(0deg);margin-top:-100px;margin-left:-100px}
    100% {width:200px; height:200px;-webkit-transform: rotate(360deg);opacity:1;margin-top:-100px;margin-left:-100px}
}

@-moz-keyframes movelogo {
    0%   { width:0; height:0; opacity:0.1;margin-top:0px;margin-left:0px}
    25%  {width:200px; height:200px;margin-top:-100px;margin-left:-100px}
    75%  {width:200px; height:200px;-moz-transform: rotate(0deg);margin-top:-100px;margin-left:-100px}
    100% {width:200px; height:200px;-moz-transform: rotate(360deg);opacity:1;margin-top:-100px;margin-left:-100px}
}

/* Standard syntax */
@keyframes movelogo {
     0%   { width:0; height:0; opacity:0.1;margin-top:0px;margin-left:0px}
    25%  {width:200px; height:200px;margin-top:-100px;margin-left:-100px}
    75%  {width:200px; height:200px;transform: rotate(0deg);margin-top:-100px;margin-left:-100px}
    100% {width:200px; height:200px;transform: rotate(360deg);opacity:1;margin-top:-100px;margin-left:-100px}
}
	.button {
		font-size: 30px;
		margin: 2% 0;
	}
	.button span {
		min-width: 185px;
		display: inline-block;
		padding: 12px 15px;
	}
	
	.ansHint{
		width: 320px;
		height: 320px;
		margin-top: -160px;
		margin-left: -160px;
	}
	.selectHint{
		margin-left: 100px;
		animation: none;
		-moz-animation: none; 
		-webkit-animation: none;
		width: 150px;
	}
	
	.submitHint{
		width: 150px;
	}
	
	.logoTop{
		width: 40px;
		height: 40px;
	}
	.homeTop{
		width: 40px;
		height: 40px;
	}

	
	.headingArea {
		height: 30%;
        min-height: 147px;
    }

	.moveNext, .moveBack {
		width: 50px;
		background-size: 50% 100%;
		-webkit-background-size: 50% 70%;
	}
	
	.question {
		padding: 1% 50px;
	}
	
	.stage h4{
		font-size: 1.4em;
	}

	.bind100 img{
		width: 150px;
	}
	
	.headText{
		color: #E77817;
		font-size: .7em;
	}
	
	.resultArea h3{
		line-height: 2.8em;
		font-size: 1.4em;
	}
	
	.stage span{
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
		-webkit-box-shadow: inset 0px 0px 1px #000;
		box-shadow: inset 0px 0px 1px #000;
	}
	.flt_cntr_wdth {
		width: 165px;
	}
	
	.radioButtonArea .button span{
		min-width: 100px;
	}
	
	#imgModerate {
		width: 258px;
		height: 230px;
	}
	
	ol.points li {
		font-size: 1.4em;
	}
	
	ul.imgArea{
		width: 100%;
	}
	
	.cureSteps li {
		font-size: 1.3em;
		margin-top: 10px;
	}
	.cureSteps {
		width: 100%;
		padding: 0 50px;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		margin: 0 !important;
	}
}

 
 
@media only screen
and (min-width : 481px)
and (max-width : 539px) {
	.resultArea h3 {
	    line-height: 4.6em;
	    font-size: 1.6em;
	}
}

@media only screen
and (min-width : 540px)
and (max-width : 625px) {
	.resultArea h3 {
		line-height: 3.6em;
		font-size: 2.1em;
	}
}


@media only screen
and (min-width : 768px)
and (max-width : 1023px) {
	.wrapper{
			width: 100%;
	}
	
	h1{
		font-size: 3em;
	}
	
	.cureSteps {
		width: 67%;
	}
	
	.ques h3 {
		line-height: 1.3em;
		font-size: 1.7em;
	}
	
	ol.points li {
		font-size: 1.6em;
	}
}
 
 
 

 